name: Schedule actions

on:
  schedule:
    - cron: '5 * * * *'
  workflow_dispatch:

jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - name: Print message when schedule runs
        run: |
          echo "running inside schedule from cron"
          echo "executed at $(date)""